<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!--  It is a configuration file, containing informations about the database and mapping file.-->
<hibernate-configuration>
    <session-factory>
       <!-- you can change it with update or another hbm2ddl.auto property value-->
        <property name="hbm2ddl.auto">create</property>
        <!--This property makes Hibernate generate the appropriate SQL for the chosen database.-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--The JDBC driver class.-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--The JDBC driver class.-->
        <property name="connection.url">jdbc:mysql://localhost:3306/kickhib</property>
        <!-- The database password.-->
        <property name="connection.password">password</property>
        <!--The database username.-->
        <property name="connection.username">root</property>
        <!--Sql query enable.-->
        <property name="show_sql">true</property>

        <!--Xml based entity-->
        <mapping resource="employee.hbm.xml"></mapping>
        <mapping resource="tableperhierarchy.hbm.xml"></mapping>
        <mapping resource="testperconcreteclass.hbm.xml"></mapping>
        <mapping resource="testpersubclass.hbm.xml"></mapping>
        <mapping resource="question.hbm.xml"></mapping>

     <!--Annotation base entity-->
     <mapping class="com.kickwithhibernate.startwithannotation.Employee"/>
     <mapping class="com.kickwithhibernate.entitymapping.associationmapping.one2onebidirectional.User"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.collectionmapping.many2many.Course"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.collectionmapping.many2many.Student"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.associationmapping.many2one.Department"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.associationmapping.many2one.Emp"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.associationmapping.one2onebidirectional.Profile"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.collectionmapping.one2many.withannotation.Song"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.collectionmapping.one2many.withannotation.Album"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.collectionmapping.one2many.another.NodeRecord"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.collectionmapping.one2many.another.Node"></mapping>
     <mapping class="com.kickwithhibernate.generatorclassesinhibernate.assigned.Assigned"></mapping>
     <mapping class="com.kickwithhibernate.generatorclassesinhibernate.increment.IncrementGenerator"></mapping>
     <mapping class="com.kickwithhibernate.generatorclassesinhibernate.sequence.SequenceGenerator"></mapping>
     <mapping class="com.kickwithhibernate.generatorclassesinhibernate.hilo.Hilo"></mapping>
     <mapping class="com.kickwithhibernate.generatorclassesinhibernate.nativegenerator.NativeGenerator"></mapping>
     <mapping class="com.kickwithhibernate.generatorclassesinhibernate.identity.IdentityGenerator"></mapping>
     <mapping class="com.kickwithhibernate.generatorclassesinhibernate.uuid.UuidGenerator"></mapping>
     <mapping class="com.kickwithhibernate.generatorclassesinhibernate.guid.Guid"></mapping>
     <mapping class="com.kickwithhibernate.generatorclassesinhibernate.customgenerator.Custom"></mapping>
     <mapping class="com.kickwithhibernate.generatorclassesinhibernate.jpaidentifierstrategies.autoidentifier.Auto"></mapping>
     <mapping class="com.kickwithhibernate.generatorclassesinhibernate.jpaidentifierstrategies.identityidentifier.Identity"></mapping>
     <mapping class="com.kickwithhibernate.generatorclassesinhibernate.jpaidentifierstrategies.sequenceidentifier.Sequence"></mapping>
     <mapping class="com.kickwithhibernate.generatorclassesinhibernate.jpaidentifierstrategies.tableidentifier.Table"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.inheritancemapping.hibernatetableperhierarchy.withannotation.Notification"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.inheritancemapping.hibernatetableperhierarchy.withannotation.Email"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.inheritancemapping.hibernatetableperhierarchy.withannotation.Message"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.inheritancemapping.tableperconcreteclass.withannotation.Payment"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.inheritancemapping.tableperconcreteclass.withannotation.ACH"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.inheritancemapping.tableperconcreteclass.withannotation.CreditCard"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.inheritancemapping.tablepersubclass.withannotation.Employee"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.inheritancemapping.tablepersubclass.withannotation.ContractEmployee"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.inheritancemapping.tablepersubclass.withannotation.RegularEmployee"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.associationmapping.one2oneunidirectional.Body"></mapping>
     <mapping class="com.kickwithhibernate.entitymapping.associationmapping.one2oneunidirectional.Heart"></mapping>
     <mapping class="com.kickwithhibernate.curd.Glass"></mapping>
    </session-factory>
</hibernate-configuration>
